.page {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-content: center;
  justify-content: center;
}

.menu {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-weight: bold;
  font-size: 5vmax;
  letter-spacing: 4px;
  font-style: italic;
}

.option {
  padding: 10px;
}