html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: gray;
}

.board {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: repeat(auto-fit, minmax(15vw, 1fr));
  grid-auto-rows: minmax(25vw, 1fr);
  align-items: stretch;
  color: white;
  text-shadow: 2px 2px gray;
}

.player_card {
  display: grid;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.player_info {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  font-weight: bold;
}

.player_life {
  font-size: 10vw;
  padding-bottom: 10px;
}

.player_name {
  font-size: 3vw;
}